.player-container {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.player-playlist {
    width: 300px;
}

.player-playlist h3 {
    margin-bottom: 20px;
}

.player-playlist ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.player-playlist li {
    margin-bottom: 10px;
}

.player-playlist button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: left;
    transition: 0.2s;
}

.player-playlist button:hover {
    transform: translateX(5px);
}

.player-info {
    flex: 1;
}

.player-info img {
    width: 280px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.player-info h2 {
    margin: 10px 0;
}

.player-info p {
    margin: 5px 0;
}

.player-info audio {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.player-info {
    background: #1d1d1d;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,.4);
}

.player-playlist button {
    background: #2a2a2a;
    color: white;
}

.player-playlist button:hover {
    background: #1db954;
}

.player-info img {
    box-shadow: 0 0 15px rgba(0,0,0,.5);
}

audio {
    margin-top: 20px;
}

.musica-item {
    width: 100%;
    background: #2b2b2b;
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: white;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    transition: .2s;
}

.musica-item strong {
    font-size: 16px;
}

.musica-item span {
    margin-top: 5px;
    font-size: 13px;
    color: #bbbbbb;
}

.musica-item:hover {
    background: #1db954;
}

.musica-item:hover span {
    color: white;
}

.musica-item.ativa {
    background: #1db954;
    color: white;
}

.musica-item.ativa span {
    color: white;
}

.musica-item.ativa strong {
    color: white;
}

#busca {
    margin-bottom: 20px;
}